body{

}

.contactmainfont{
	font-size: 50px;
	text-align: right;
	font-family: didot;
}

.contactmainfontt{
	font-size: 50px;
	text-align: left;
	font-family: didot;
	margin-top:65px;
}

.contactdesfont{
	font-size: 15px;
	text-align: right;
	font-family: meiryo;
	margin-top:-10px;
	padding-right: 15px;
}
.contactdesfont2{
	font-size: 15px;
	text-align: left;
	font-family: meiryo;
	margin-top:-10px;
	padding-left: 25px;

}

.mainimagecenter{
	width: 100%;
	height: 300px;
	background-image:url(../img/mainimage.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	top:-70px;
}


.clclcl{
	width: 100%;
	height: 300px;
	/*background-color:red;*/
}
.qpqpqp{
	width: 100%;
	height: 300px;
}

@media (max-width: 768px) {
	.contactdesfont {
		text-align: center;
	}
	.contactmainfont{
		text-align: center;
	}
	.contactmainfontt{
		text-align: center;
		margin-top:0px;
	}
	.contactdesfont2{
		text-align: center;
	}
}