body{

}

@font-face {
    font-family: didot;
    src: url('Didot.ttc');
}

@font-face {
    font-family: zap;
    src: url('Zapfino.ttf');
}

@font-face {
    font-family: foot;
    src: url('Footlight Light.ttf');
}

@font-face {
    font-family: abadi;
    src: url('Abadi MT Condensed Light.ttf');
}

@font-face {
    font-family: meiryo;
    src: url('Meiryo.ttf');
}

@font-face {
    font-family: onyx;
    src: url('Onyx.ttf');
}

@font-face {
    font-family: msyi;
    src: url('msyi.ttf');
}

@font-face {
    font-family: imprint;
    src: url('Imprint MT Shadow.ttf');
}

@font-face {
    font-family: harrington;
    src: url('Harrington.ttf');
}

.navbar-default{
	background: none !important;
	border: none !important;
	z-index: 1;
}

.boxs{
	height: 300px;
	background-color: #ddd;
	border:1px solid #000;
}

.firstdiv{
	margin-top: 52px;
}

.bgimg{
	width: 90%;
	height: 400px;
	margin:0 auto;
	background-image:url(../img/images.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}


.mainbody{
	width: 90%;
	height: 1300px;
	background-color: white;
	margin:0 auto;
}


.footer{
	width:100%;
	background-color: black;
	margin-top : 50px;
}

.menubox{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*
.infoleft{
	width: 30%;
	height: 600px;
	background-color: red;
	float: left;
}
.inforight{
	width: 70%;
	height: 600px;
	background-color: skyblue;
	float: left;
}
*/

p{
	margin-top: 30px;
	font-family: helvetica;
	font-size: 15px;
	font-color:red;
}

.infoimg1{
	width: 85%;
	height: 350px;
	background-image:url(../img/1.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.pkgimg{
	width: 100%;
	height: 350px;
	background-image:url(../img/package.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

}

.macaron1{
	width: 100%;
	height: 350px;
	background-image:url(../img/macaron1.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;

}

.macaron2{
	width: 100%;
	height: 350px;
	background-image:url(../img/macaron2.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;

}

.macaron3{
	width: 100%;
	height: 350px;
	background-image:url(../img/macaron3.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;

}

.infoimg2{
	width: 85%;
	height: 200px;
	background-image:url(../img/2.jpg);
	background-size: cover;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

}

.imagee{
	width: 500px;
	height: 700px;
	background-image:url(../img/5.jpg);
}



.bgimg1{
	margin: 0 auto;
	width: 100%;
	height: 535px;
	background-image:url(../img/3.jpg);
	background-size: cover;
	background-position: center;
}

.bgimg2{
	margin: 0 auto;
	width: 100%;
	height: 535px;
	background-image:url(../img/4.jpg);
	background-size: cover;
	background-position: center;
}
.bgimg3{
	margin: 0 auto;
	width: 100%;
	height: 535px;
	background-image:url(../img/5.jpg);
	background-size: cover;
	background-position: center;
}



.mainimagecenter{
	width: 100%;
	height: 500px;
	background-image:url(../img/mainimage.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	top:-70px;
}


.midcarousel{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.logo{
	font-family: didot;
	font-size: 50px;
	color:white;
	position: absolute;
	top:70px;
	right:50px;
}

.footerinfo{
	color: white;
	font-size: 12px;
	font-family: helvetica;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}


.menu{
	width: 100%;
}
.menu img {
	width:100%;
}

.cakelogo{
	font-size: 30px;
	font-family:zap;
	text-align: center;
	position: absolute;
	bottom:40px;
	right:50px;
	color:white;
}

.menucover{
	width: 100%;
	height: 350px;
	background-color:rgba(0,0,0,0.5);
	transition:0.5s;
	-webkit-transition:0.5s;
}

.menucover:hover{
	width: 100%;
	height: 350px;
	background-color:rgba(0,0,0,0);
	transition:0.5s;
	-webkit-transition:0.5s;
}

.aboutdes{
	width: 80%;
	text-align: center;
	font-family: abadi;
	margin-left: auto;
	margin-right: auto;


}

.aboutpic{
	width: 70%;
	height: 300px;
	text-align: center;
}

@media (min-width: 768px) {
	.cakelogo {
		font-size: 15px;
		text-align: center;
	}
}
@media (max-width: 768px) {
	.mainimagecenter {

		font-size: 15px;
		margin-top:70px;
	}
}